/***************************************************************************/
/********************************** COMMUN *********************************/
/***************************************************************************/
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/***************************************************************************/
/****************************** HEADER NAVBAR ******************************/
/***************************************************************************/
header {
/*  display: flex;
    align-content: center;
    height: 10vh;
    position: absolute;
    width: 100%;
    z-index: 1;  */
}

/*nav {
    width: 100%;
    padding: 0;
}*/

a, a:hover {
    text-decoration: none;
    color: black;
}

a:hover{
    color: #ffcc00;
}

/***************************************************************************/
/********************************* FOOTER **********************************/
/***************************************************************************/

/***************************************************************************/
/******************************** HOMEPAGE *********************************/
/***************************************************************************/
#accueil, #biographie, #activites, #tarifs-reglements, #agenda-reservation, #contact {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #78B281;
    border-bottom: black dashed 1px;
    border-top: black dashed 1px;
}

/********************************* ACCUEIL *********************************/
#accueil {
    background-size: cover;
    background-image: url("https://cache.marieclaire.fr/data/photo/w1000_ci/4w/livre-pilates-mollie-stansbury.jpg");
}

/******************************* BIOGRAPHIE ********************************/
.biographie-photo-profil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.biographie-background-texte{
    background: rgba(130, 255, 128,0.5);
    padding: 150px 70px 70px;
    margin: 170px 150px;
    text-align: justify;
    border-radius: 60px;
    color: white;
}

/******************************** ACTIVITES ********************************/
#activites h3{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-style: oblique;
    position: absolute;
    display: block;
    padding: 25%;
}

#activites img{
    width: 480px;
    height: 280px;
    opacity: 0.4;
}

#activites img:hover{
    opacity: 1;
    transition-delay: 0.15s;
    transition-duration: 0.6s;
}

/*************************** TARIFS/REGLEMENTS *****************************/
.tarifs-reglements-tableau {
    border: black dashed 1px;
}

.tarifs-reglements-background-texte{
    background: rgba(130, 255, 128,0.5);
    padding: 100px 70px 70px;
    margin: 20px 150px;
    text-align: justify;
    color: white;
}

/************************** AGENDA/RESERVATIONS ****************************/
.agenda-reservation-block{
    display: flex;
    justify-content: space-around;
}

.agenda-reservation-agenda{
}

.agenda-reservation-reservation{
    width: 500px;
    height: 500px;
    background-color: #c8c8c8;
    text-align: left;
    padding: 40px;
}

/********************************* CONTACT *********************************/
.contact-block{
    display: flex;
    justify-content: space-around;
}

.contact-info{
    width: 500px;
    height: 500px;
    background-color: #c8c8c8;
    text-align: left;
    padding: 40px;
}

.contact-carte{
    width: 500px;
}

.contact-carte-google{
    position: absolute;
}

.contact-zone{
    position: relative;
    height: 280px;
    width: 280px;
    background-color: rgba(180,180,180,0.5);
    border-radius: 50%;
    margin: 20% 30% 10% 15%;
}

/***************************************************************************/
/******************************** ACTIVITES ********************************/
/***************************************************************************/
#pilates, #stretching, #marche-nordique, #course, #fitness, #evenementiel{
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
}

.aside-activites{
    width: 20%;
    background-color: #78B281;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 7%;
}

.aside-activites div{
    padding-top: 20%;
}

.aside-activites a{
    color: white;
}

.aside-activites .active{
    color: #777777;
}

.aside-activites-title{
    font-size: 1.2rem;
    color: black;
}

.activite-texte{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 130px 150px 0px 300px;
    text-align: justify;
    color: white;
}

h2{
    font-size: 4rem;
}

/********************************* PILATES *********************************/
#pilates{
    background-image: url("https://santephysique.fr/wp-content/uploads/2018/11/exercices-pilates-principale-1024x657.jpg");
    background-position-y: bottom;
}

/******************************** STRETCHING *******************************/
#stretching{
    background-image: url("https://www.eden-form.com/files/cours-stretching-bordeaux-2yGvzXy.jpg");
    background-position-y: center;
}

/***************************** MARCHE-NORDIQUE *****************************/
#marche-nordique{
    background-image: url("https://contents.mediadecathlon.com/p1280704/640x0/2562pt1920/5123xcr3840/thumbnail- comment-utiliser-bloqueurs-baton-marche-nordique.jpg?k=4dc57a2356983bf235754ea24d667b72");
    background-position-y: top;
}

/********************************** COURSE *********************************/
#course{
    background-image: url("https://cache.cosmopolitan.fr/data/photo/w1000_ci/55/course.jpg");
}

/********************************** FITNESS *********************************/
#fitness{
    background-image: url("http://www.love-fitness.fr/wp-content/uploads/2015/12/Fotolia_72752793_Subscription_Monthly_XXL1-1024x683.jpg");
    background-position-y: bottom;
}

/******************************** EVENEMENTIEL ******************************/
#evenementiel{
    background-image: url("https://www.photographe-professionnel-evenementiel.fr/wp-content/uploads/2015/12/Marathon-Nice-Cannes_081115-090507.jpg");
    background-position-y: center;
}