/***************************************************************************/
/********************************** COMMUN *********************************/
/***************************************************************************/
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Kiona-Regular";
    src: url("../fonts/Kiona-Regular.ttf");
}

@font-face {
    font-family: "Kiona-Itallic";
    src: url("../fonts/Kiona-Itallic.ttf");
}

body {
    font-family: Kiona-Regular;
}

/******************************* BOUTON CRUD *******************************/
.home-activites-boutons-crud {
    margin-top: 200px;
}

.activite-boutons-crud {
    display: flex;
    justify-content: space-between;
}

.home-activites-bouton-ajouter a, .activite-bouton-supprimer a, .activite-bouton-actualiser a {
    display: inline-block;
    border-radius: 8px;
    background-color: dodgerblue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    padding: 7px;
    width: 125px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 15px;
}

.activite-bouton-supprimer a {
    background-color: red;
}

.home-activites-bouton-ajouter a {
    background-color: forestgreen;
    width: 250px;
}

.home-activites-bouton-ajouter span, .activite-bouton-supprimer span, .activite-bouton-actualiser span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.home-activites-bouton-ajouter span:after, .activite-bouton-supprimer span:after, .activite-bouton-actualiser span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.home-activites-bouton-ajouter:hover span, .activite-bouton-supprimer:hover span, .activite-bouton-actualiser:hover span{
    padding-right: 25px;
}

.home-activites-bouton-ajouter:hover span:after, .activite-bouton-supprimer:hover span:after, .activite-bouton-actualiser:hover span:after {
    opacity: 1;
    right: 0;
}

/***************************************************************************/
/****************************** HEADER NAVBAR ******************************/
/***************************************************************************/
.navbar {
    position: static;
    display: block;
    text-align: center;
    background-color: #AFCCB1;
}

.navbar-background-texte {
    background-color: rgba(255, 210, 142, 0.7);
    font-size: 1.2rem;
    justify-content: center;
}

/***************************************************************************/
/********************************* FOOTER **********************************/
/***************************************************************************/


/***************************************************************************/
/******************************** HOMEPAGE *********************************/
/***************************************************************************/
#accueil, #biographie, #activites, #tarifs-reglements, #agenda-reservation, #contact {
    width: 100%;
    height: 100vh;
    text-align: center;
    background: rgb(120,178,129);
    background: linear-gradient(180deg,
                rgba(120,178,129,1) 0%,
                rgba(120,178,129,1) 85%,
                rgba(255,255,255,1) 100%);
}

#accueil h1, #biographie h1, #activites h1, #tarifs-reglements h1, #agenda-reservation h1, #contact h1 {
    font-size: 4.5rem;
    color: bisque;
    padding: 10px 0;
}

/******************************** ACCUEIL **********************************/
#accueil {
    background-image: url("https://cache.marieclaire.fr/data/photo/w1000_ci/4w/livre-pilates-mollie-stansbury.jpg");
    background-size: cover;
}

/******************************* BIOGRAPHIE ********************************/
.biographie-texte {
    background: rgba(130, 255, 128,0.5);
    padding: 80px;
    margin: 120px 150px;
    text-align: justify;
    border-radius: 60px;
    color: white;
}

.biographie-texte span {
    font-family: Kiona-Itallic;
}

/******************************** ACTIVITES ********************************/
.activites-activites {
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.activites-show:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}

.activites-bouton-decouvrir a {
    font-size: 0.8rem;
    color: white;
    background-color: rgba(121, 255, 83, 0.4);
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 32px;
    text-align: center;
    display: inline-block;
    margin: 8px 2px;
}

/*************************** TARIFS/REGLEMENTS *****************************/
.tarifs-reglements-grille {
    background-image: url("../img/grille_tarifs.jpg");
    background-size: cover;
    width: 700px;
    height: 300px;
}

.tarifs-reglements-background-texte {
    background: rgba(130, 255, 128,0.5);
    padding: 40px;
    margin: 20px 150px;
    text-align: justify;
    color: white;
}

/************************** AGENDA/RESERVATIONS ****************************/
.agenda-reservation-block {
    display: flex;
    justify-content: space-around;
}

.agenda-reservation-agenda {
}


.agenda-reservation-reservation {
    width: 500px;
    height: 500px;
    background-color: #c8c8c8;
    text-align: left;
    padding: 40px;
}

/********************************* CONTACT *********************************/
.contact-block {
    display: flex;
    justify-content: space-around;
}

.contact-info {
    width: 500px;
    height: 500px;
    background-color: #c8c8c8;
    text-align: left;
    padding: 40px;
}

.contact-carte {
    width: 500px;
}

.contact-carte-google {
    position: absolute;
}

.contact-zone {
    position: relative;
    height: 280px;
    width: 280px;
    background-color: rgba(180,180,180,0.5);
    border-radius: 50%;
    margin: 20% 30% 10% 15%;
}

/***************************************************************************/
/******************************** ACTIVITES ********************************/
/***************************************************************************/
#activite-page, #pilates, #stretching, #marche-nordique, #course-a-pied, #fitness, #evenementiel {
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
}

h2 {
    font-size: 4rem;
    padding-bottom: 50px;
}

.activite-texte {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 130px 150px 0 300px;
    text-align: justify;
    color: white;
}

.activite-bouton-retour a {
    display: inline-block;
    border-radius: 8px;
    background-color: rgb(200, 200, 200);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    padding: 7px;
    width: 290px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 100px;
}

.activite-bouton-retour span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.activite-bouton-retour span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.activite-bouton-retour:hover span {
    padding-right: 25px;
}

.activite-bouton-retour:hover span:after {
    opacity: 1;
    right: 0;
}

/********************************** ASIDE **********************************/
.aside-activites {
    background-color: #78B281;
    color: white;
    text-align: center;
    padding-top: 7%;
}

.aside-activites div {
    padding-top: 20%;
}

.aside-activites a {
    color: white;
    font-style: oblique;
    text-decoration: none;
}

.aside-activites :hover {
    font-style: inherit;
    /*font-size: 1.1rem;*/
}

.aside-activites .active {
    color: white;
    font-weight: bolder;
    text-decoration: underline;
    font-style: inherit;
    font-size: 1.1rem;
}

.aside-activites-title {
    font-size: 1.4rem;
    font-weight: bolder;
    color: black;
}

/********************************* PILATES *********************************/
#pilates {

}

/******************************** STRETCHING *******************************/
#stretching {

}

/****************************** MARCHE-NORDIQUE ****************************/
#marche-nordique {

}

/****************************** COURSE-A-PIED *******************************/
#course-a-pied {

}

/********************************* FITNESS *********************************/
#fitness {

}

/******************************* EVENEMENTIEL ******************************/
#evenementiel {

}

/***************************************************************************/
/********************************* GALLERIE ********************************/
/***************************************************************************/
.galerie-block {

}

.galerie-photo-nom {

}

.galerie-photo-date {

}

.galerie-bouton-supprimer {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(210, 0, 0, 1);
    background-image: linear-gradient(to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
                inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.galerie-bouton-supprimer:hover {
    background-color: rgba(255, 0, 0, 1);
}

.galerie-bouton-supprimer:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
                inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/***************************************************************************/
/********************************** LOGIN **********************************/
/***************************************************************************/
.login-username {

}

/***************************************************************************/
/*********************************** 404 ***********************************/
/***************************************************************************/
