{% extends 'base.html.twig' %}

{% block title 'Evenementiel' %}

{% block content %}
    <main id="evenementiel">
        {% include 'commun/_navbar_activites.html.twig' %}
        <div class="activite-texte col-10">
            <h2>
                EVENEMENTIEL
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae porro dignissimos magnam aut sit eligendi amet saepe repellendus sint?
                Rem perspiciatis, et corrupti necessitatibus deleniti obcaecati quia rerum amet reiciendis.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae porro dignissimos magnam aut sit eligendi amet saepe repellendus sint?
                Rem perspiciatis, et corrupti necessitatibus deleniti obcaecati quia rerum amet reiciendis.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae porro dignissimos magnam aut sit eligendi amet saepe repellendus sint?
                Rem perspiciatis, et corrupti necessitatibus deleniti obcaecati quia rerum amet reiciendis.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae porro dignissimos magnam aut sit eligendi amet saepe repellendus sint?
                Rem perspiciatis, et corrupti necessitatibus deleniti obcaecati quia rerum amet reiciendis.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae porro dignissimos magnam aut sit eligendi amet saepe repellendus sint?
                Rem perspiciatis, et corrupti necessitatibus deleniti obcaecati quia rerum amet reiciendis.
            </p>
        </div>
    </main>

{% endblock %}