{% extends 'base.html.twig' %}

{% block title 'Marche Nordique' %}

{% block content %}
    <main id="marche-nordique">
        {% include 'commun/_navbar_activites.html.twig' %}
        <div class="activite-texte col-10">
            <h2>
                marche nordique
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae porro dignissimos magnam aut sit eligendi amet saepe repellendus sint?
                Rem perspiciatis, et corrupti necessitatibus deleniti obcaecati quia rerum amet reiciendis.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae porro dignissimos magnam aut sit eligendi amet saepe repellendus sint?
                Rem perspiciatis, et corrupti necessitatibus deleniti obcaecati quia rerum amet reiciendis.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae porro dignissimos magnam aut sit eligendi amet saepe repellendus sint?
                Rem perspiciatis, et corrupti necessitatibus deleniti obcaecati quia rerum amet reiciendis.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae porro dignissimos magnam aut sit eligendi amet saepe repellendus sint?
                Rem perspiciatis, et corrupti necessitatibus deleniti obcaecati quia rerum amet reiciendis.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae porro dignissimos magnam aut sit eligendi amet saepe repellendus sint?
                Rem perspiciatis, et corrupti necessitatibus deleniti obcaecati quia rerum amet reiciendis.
            </p>
        </div>
    </main>

{% endblock %}